<section class="hazard-players players">
  <div class="players__new-player">
    <div class="players__new-player__label">Введите имя нового игрока:</div>
    <div>
      <input #playerName class="players__new-player__input"/>
      <button (click)="add(playerName.value); playerName.value=''" class="players__new-player__label__btn btn">Добавить игрока</button>
    </div>
  </div>
  <ul class="players__list">
    <li *ngFor="let player of players" class="players__list__player">
      <span class="players__list__player__name">{{player.name}}</span>
      <button class="players__list__player__btn btn" (click)="delete(player); $event.stopPropagation()">
        <cl-image public-id="see-a-dead_lbmscn" cloud-name="{{cloudName}}" class="cl-image" height="80"></cl-image>
      </button>
    </li>
  </ul>
</section>
