<div class="players">
  <div *ngFor="let player of players" class="player" [ngClass]="{'active-player': player == current_player}">
    <div *ngIf="player == judge" class="player-judge"><img src="assets/images/judge.png"></div>
    <span>{{player.name}} - </span>
    <span>{{player.points}}</span>
  </div>
</div>

<div class="card-panel-wrapper">
  <div class="card-panel container" [dragula]='"bag-one"' id="leftPanel">
    <div class="card" *ngIf="leftPanel && (leftPanel.userId == current_player.id || leftPanel.status == 'in-game')" [attr.data-id]="leftPanel.id">
      <cl-image public-id="{{leftPanel.id}}" cloud-name="dt0eubx7s" class="cl-image">
      </cl-image>
    </div>
    <div class="review-cards" *ngIf="current_player == judge && pointCards.slice(-1)[0] == leftPanel">
      <div class="card" *ngFor="let card of pointCards"  (click)="coolCard = card">
        <cl-image public-id="{{card.id}}" cloud-name="dt0eubx7s" class="cl-image"></cl-image>
      </div>
      <button *ngIf="coolCard" (click)="setPoint(coolCard)">lol</button>
    </div>

  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="mainPanel">
    <div class="card" *ngIf="mainPanel" [attr.data-id]="mainPanel.id">
      <cl-image public-id="{{mainPanel.id}}" cloud-name="dt0eubx7s" class="cl-image"></cl-image>
    </div>
  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="rightPanel">
    <div class="card" *ngIf="rightPanel && (rightPanel.userId == current_player.id || rightPanel.status == 'in-game')" [attr.data-id]='rightPanel.id'>
      <cl-image public-id="{{rightPanel.id}}" cloud-name="dt0eubx7s" class="cl-image"></cl-image>
    </div>

    <div class="review-cards" *ngIf="current_player == judge && pointCards.slice(-1)[0] == rightPanel">
      <div class="card" *ngFor="let card of pointCards" (click)="coolCard = card">
        <cl-image public-id="{{card.id}}" cloud-name="dt0eubx7s" class="cl-image"></cl-image>
      </div>
      <button *ngIf="coolCard" (click)="setPoint(coolCard)">lol</button>
    </div>

  </div>
</div>

<div class="next-btn-wrapper">
  <button *ngIf="letPlay()" (click)="nexPlayer()" class="btn next-btn">
    <img src="assets/images/next-icon.png">
  </button>
</div>

<div *ngIf="current_player">
  <span class="current-name">{{current_player.name}}</span>
  <div class="cards" [dragula]='"bag-one"' >
    <div *ngFor="let card of current_player.cards" [attr.data-id]="card.id" class="card">
      <cl-image public-id="{{card.id}}" cloud-name="dt0eubx7s" class="cl-image"></cl-image>
    </div>
  </div>
</div>

<div class="win-wrapper" *ngIf="cool_player">
  <div class="win">
    <span>{{cool_player.name}} win!</span>
    <span>Продолжить?</span>
    <button (click)="cool_player = !cool_player">Да</button>
    <button (click)="clearAll()">В жопу</button>
  </div>
</div>
