<ul class="players">
  <li *ngFor="let player of players">
    <span>{{player.name}}</span>
  </li>
</ul>

<ul class="players">
  <li *ngFor="let card of cards">
    <span>{{card.id}}</span>
    <span>{{card.status}}</span>
    <span>{{card.userId}}</span>
  </li>
</ul>

<div class="card-panel-wrapper">
  <div class="card-panel container" [dragula]='"bag-one"' id="left-panel">
    <div class="card" *ngIf="leftPanel">{{leftPanel.id}}</div>
  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="main-panel">
    <div class="card" *ngIf="mainPanel">{{mainPanel.id}}</div>
  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="right-panel">
    <div class="card" *ngIf="rightPanel">{{rightPanel.id}}</div>
  </div>
</div>

<button *ngIf="letPlay()" (click)="startGame()">Let's play!</button>
<button *ngIf="playNext()" (click)="continueGame()">Next</button>

<div *ngIf="current_player">
  {{current_player.name}}
  <div class="cards" [dragula]='"bag-one"' [dragulaModel]='current_player.cards' >
    <div *ngFor="let card of current_player.cards" [attr.data-id]="card.id">
      <div class="card" (click)="chooseCard(card)">{{card.id}}</div>
    </div>
  </div>
</div> 

