<div class="players">
  <div *ngFor="let player of players" class="player" [ngClass]="{'active-player': player == current_player}">
    <div *ngIf="player == judge" class="player-judge">
      <cl-image public-id="judge_ab5qos" cloud-name="{{cloudName}}" class="cl-image" height="50"></cl-image>
    </div>
    <span>{{player.name}} - </span>
    <span>{{player.points}}</span>
  </div>
</div>

<div class="card-panel-wrapper">
  <div class="card-panel container" [dragula]='"bag-one"' id="leftPanel">
    <div class="card" *ngIf="leftPanel && (leftPanel.userId == current_player.id || leftPanel.status == 'in-game')" [attr.data-id]="leftPanel.id">
      <div class="loupe-icon" (click)="resize($event)"></div>
      <cl-image public-id="{{leftPanel.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
    </div>
    <div class="review-cards" *ngIf="current_player == judge && pointCards.indexOf(leftPanel) > -1">
      <div class="cards-list">
        <div class="card" *ngFor="let card of pointCards" (click)="coolCard = card" [ngClass]="{'active': card == coolCard}">
          <div class="loupe-icon" (click)="resize($event)"></div>
          <cl-image public-id="{{card.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
        </div>
      </div>
      <button *ngIf="coolCard" (click)="setPoint(coolCard)" class="lol-btn btn">
        LoL
      </button>
    </div>

  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="mainPanel">
    <div class="card" *ngIf="mainPanel" [attr.data-id]="mainPanel.id">
      <div class="loupe-icon" (click)="resize($event)"></div>
      <cl-image public-id="{{mainPanel.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
    </div>
  </div>
  <div class="card-panel" [dragula]='"bag-one"' id="rightPanel">
    <div class="card" *ngIf="rightPanel && (rightPanel.userId == current_player.id || rightPanel.status == 'in-game')" [attr.data-id]='rightPanel.id'>
      <div class="loupe-icon" (click)="resize($event)"></div>
      <cl-image public-id="{{rightPanel.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
    </div>

    <div class="review-cards" *ngIf="current_player == judge && pointCards.indexOf(rightPanel) > -1">
      <div class="cards-list">
        <div class="card" *ngFor="let card of pointCards" (click)="coolCard = card" [ngClass]="{'active': card == coolCard}">
          <div class="loupe-icon" (click)="resize($event)"></div>
          <cl-image public-id="{{card.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
        </div>
      </div>
      <button *ngIf="coolCard" (click)="setPoint(coolCard)" class="lol-btn btn">LoL</button>
    </div>
  </div>
</div>

<div class="next-btn-wrapper">
  <button *ngIf="letPlay()" (click)="nexPlayer()" class="btn next-btn">
    <cl-image public-id="next-icon_ezseai" cloud-name="{{cloudName}}" class="cl-image" height="50"></cl-image>
  </button>
</div>

<div *ngIf="current_player">
  <span class="current-name">{{current_player.name}}</span>
  <div class="cards" [dragula]='"bag-one"' >
    <div *ngFor="let card of current_player.cards" [attr.data-id]="card.id" class="card">
      <div class="loupe-icon" (click)="resize($event)"></div>
      <cl-image public-id="{{card.id}}" cloud-name="{{cloudName}}" class="cl-image"></cl-image>
    </div>
  </div>
</div>

<div class="win-wrapper" *ngIf="cool_player">
  <div class="win">
    <h1 class="win-name">Наш победитель - {{cool_player.name}}!</h1>
    <div class="win-animation-wrapper">
      <img src="assets/images/win.gif" class="win-animation">
    </div>
    <button class="win-btn btn" (click)="gameService.clearAll()">Начать заново</button>
  </div>
</div>
