<div class="reload-btn">
  <button (click)="gameService.clearAll()" class="reload-icon btn">
    <cl-image public-id="reload-icon_s9zcpo" cloud-name="{{cloudName}}" class="cl-image" height='50'></cl-image>
  </button>
</div>
<div *ngIf="!gameIsOn" class="play-container">
  <players></players>
  <button (click)="startGame()" class="play-btn btn">
    <cl-image public-id="Game-start_kchept" cloud-name="{{cloudName}}" class="cl-image" height='200'></cl-image>
  </button>
</div>
<game *ngIf="gameIsOn"></game>
