<ul class="players">
  <li *ngFor="let player of players">
    <span>{{player.name}}</span>
  </li>
</ul>

<ul class="players">
  <li *ngFor="let card of cards">
    <span>{{card.id}}</span>
    <span>{{card.status}}</span>
    <span>{{card.userId}}</span>
  </li>
</ul>

<div>
  <ul class="players">
    <li *ngFor="let desk of desks">
      <span>{{desk.id}}</span>
      <span>{{desk.cards}}</span>
      <span *ngIf='desk.userId'>{{desk.userId}}</span>
    </li>
  </ul>
</div>

<div>
  <div #leftPanel class="card-panel container" [dragula]='"bag-one"'></div>
  <div #mainPanel class="card-panel"></div>
  <div #rightPanel class="card-panel" [dragula]='"bag-one"'></div>
</div>

<div *ngIf="current_player">
  {{current_player.name}}
  <ul class="cards" [dragula]='"bag-one"' [dragulaModel]='current_player.cards'>
    <li *ngFor="let card of current_player.cards">
      <span>{{card.id}}</span>
      <div class="card" (click)="chooseCard(card)"></div>
    </li>
  </ul>
</div> 

